.idea
.vscode
.env
supergraph.graphql

.DS_Store
/.eslintrc.json
/.prettierrc.json
/babel.config.json
/build
/configs
/coverage
/dist
/dist.js
/dist.js.map
/jest.config.js
/public/build
/tsconfig.build.json
/tsconfig.json
/tsconfig.lint.json
/tsconfig.typecheck.json
node_modules
package-lock.json
yarn-error.log
notes.txt
